// Colors
$black: #333333;
$gray: #828282;
$lightGray: #cccccc;
$safetyOrange: #ff6701;
$white: #ffffff;

// Fonts
$lightWeight: 400;
$boldWeight: 700;
$sizeLarge: 20px;
$sizeMedium: 16px;
$sizeNormal: 14px;
$sizeSmall: 12px;
$sizexs: 10px;