<div class="footer">
  <div class="footer__main">
    <div class="footer__menu">
      <ul class="footer__menu-list">
        <li class="footer__menu-list-item">
          <a href="/">Guidelines</a>
        </li>
        <li class="footer__menu-list-item">
          <a href="/">FAQ</a>
        </li>
        <li class="footer__menu-list-item">
          <a href="/">Support</a>
        </li>
        <li class="footer__menu-list-item">
          <a href="/">API</a>
        </li>
        <li class="footer__menu-list-item">
          <a href="/">Security</a>
        </li>
        <li class="footer__menu-list-item">
          <a href="/">Lists</a>
        </li>
        <li class="footer__menu-list-item">
          <a href="/">Bookmarklet</a>
        </li>
        <li class="footer__menu-list-item">
          <a href="/">Legal</a>
        </li>
        <li class="footer__menu-list-item">
          <a href="/">Apply to YC</a>
        </li>
        <li class="footer__menu-list-item">
          <a href="/">Contact</a>
        </li>
      </ul>
    </div>
    <div class="footer__search">
      <div class="footer__search-title">
        Search: 
      </div>
      <input type="text" class="footer__search-input">
    </div>
  </div>
</div>