.pagination {
  margin: 20px 0;

  &__button {
    width: 24px;
    height: 24px;
    background: url('../../../../styles/images/right-arrow.png') no-repeat center;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    &.prev {
      transform: rotate(180deg);
      margin-right: 5px;
    }
    &:focus {
      outline: none;
    }
  }
}